:root {
	--primary: #FBF4BC;
	--secondary: #422D00;
	--darker-primary: #F9F0AB;
	--darker-secondary: #322300;

	--inside-primary: var(--darker-secondary);
	--inside-secondary: #FFFFFF;

	--header-text: var(--footer-text);
	--footer-text: var(--primary);

	--nav-hover: #FFFFFF20;
	--selected: #FFF000;
	--scrollbar-track: #000;
	--scrollbar-thumb: var(--selected);
	--link: #31B5F7;
	--link-hover: #438F92;
	--link-button: var(--secondary);
	--link-button-border: #937227;
	--footer-link: var(--footer-text);
	--footer-link-hover: var(--selected);

	--even-child: #FFFFFF65;
	--support: #FCDAFF !important;
	--c-support: #000 !important;

	--bg-sel: var(--selected);
	--cl-sel: var(--darker-secondary);

	--theme-ovl: var(--lighten);
	--c-header: #000;
}