.scrollbar {
	z-index: 1501;
	right: 0;
	width: 6px;
	background: var(--scrollbar-track);
	cursor: pointer;
}
.scrollbar:hover {
	width: 12px;
	cursor: none;
}
.scrollbar #progress {
	background: var(--scrollbar-thumb);
}
.scrollbar .cursor {
	top: -10px;
	left: 50%;
	width: 0;
	height: 0;
	opacity: .75;
	background: var(--selected);
	transition: width .2s ,height .2s;
}
.scrollbar:hover .cursor {
	width: 20px;
	height: 20px;
}
:not(.blog aside ul)::-webkit-scrollbar {
	display: none;
}