@import "https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Comfortaa&display=swap";

:root {
	--header-font: "Poppins", sans-serif;

	--primary: 251, 244, 188;
	--secondary: 66, 45, 0;
	--dark-secondary: 50, 35, 0;
	--gold: 255, 240, 0;
	--pink: 252, 218, 255;
	--light-red: 255, 189, 158;
	--red: 225, 15, 15;
	--light-blue: 49, 181, 247;
	--dark-cyan: 67, 143, 146;
	--light-gray: 210, 210, 210;
	--gray: 110, 110, 110;
	--white: 255, 255, 255;
	--black: 0, 0, 0;

	--shadow: 0.2rem 0.2rem 0.5rem rgba(var(--black), 0.45);
}
::-webkit-scrollbar {
	width: 0.25vw;
	height: 0.25vh;
}
::-webkit-scrollbar-track {
	background: #000;
}
::-webkit-scrollbar-thumb {
	background: rgb(var(--gold));
	border-radius: 3px;
}
::selection {
	background: rgb(var(--gold));
	color: rgb(var(--dark-secondary));
}
html {
	scroll-behavior: smooth;
	font-size: 18px;
	font-family: 'Comfortaa', cursive;
	text-shadow: 1px 1px 2px rgba(var(--black), 0.3);
}
body {
	margin: 0;
}
nav {
	width: 500px;
	height: 55px;
	z-index: 69420;
	top: 10px;
	left: 50%;
	margin-left: -236px;
	border-radius: 30px;
	cursor: default;
	transition: 0.2s;
}
.sub-nav {
	top: 4px;
	right: -60px;
	width: 90%;
	transition: 0.2s;
}
nav a {
	position: relative;
	background: transparent;
}
nav a:hover:not(.menu a:hover) {
	background: rgb(255, 255, 255, 0.15);
}
nav a:active {
	background: rgb(255, 255, 255, 0.35);
}
.tooltip {
	position: absolute;
	font-size: 14px;
}
nav a .tooltip, nav .selected .tooltip {
	visibility: hidden;
	overflow: hidden;
	padding: 0;
	border-radius: 0 0 10px 10px;
	background: rgb(var(--secondary));
	top: 102%;
	height: 0;
	transition: 0.15s;
}
nav a:hover .tooltip, nav .selected .tooltip {
	visibility: visible;
	padding: 0.6em;
	height: 14px;
}
nav .avatar {
	width: 100px;
	height: 100px;
	left: -25px;
	transition: 0.2s;
}
.menu {
	visibility: hidden;
	position: absolute;
	z-index: -1;
	top: 100%;
	overflow: hidden;
	padding: 0 1em;
	width: 0;
	height: 0;
	transition: 0.2s ease-out;
}
.menu.active {
	visibility: visible;
	width: 300px;
	height: 200px;
}
footer hr {
	width: 10%;
	border: 0.1rem solid rgb(var(--primary));
	clear: both;
}
footer p {
	font-size: 14px;
}
footer a, #copyButton, .clear a, .transparent a {
	font-size: 18px;
	font-family: var(--header-font);
	text-decoration: none;
}
footer li, .clear, .transparent, .proj-list li {
	list-style-type: none;
}
ul, ol {
	line-height: 1.4em;
}
.clear {
	padding-inline-start: 0;
}
.numbered {
	list-style-type: georgian;
}
h1, h2 {
	font-family: var(--header-font);
}
h1, section.sub.tou h1 {
	font-size: 32px;
}
section.sub h1 {
	font-size: 64px;
}
h2 {
	font-size: 24px;
}
p {
	line-height: 1.5em;
}
section.sub p {
	font-size: 24px;
}
section.sub.tou p {
	font-size: inherit;
}
a, #copyButton {
	display: inline-block;
	color: rgb(var(--light-blue));
	transition: 0.2s;
}
a:hover, #copyButton:hover {
	transform: translate(0, -2px);
	color: rgb(var(--dark-cyan));
}
a:active, #copyButton:active {
	transform: translate(0, 1px);
}
.avatar {
	background-image: url("assets/img/avatar.png");
	background-size: contain;
}
.trg {
	transition: 0.35s;
}
.trg:hover {
	box-shadow: 0 0 20px rgb(var(--gold));
}
.trg:active {
	transform: scale(1.1);
	transition: 0.2s;
}
.warning {
	background: rgb(var(--light-red));
	color: crimson;
	margin: 0 2em;
	padding: 1em;
	border-radius: 30px;
}
.trg.clear {
	transition: none;
	box-shadow: none;
	transform: none;
}
.notice {
	position: fixed;
	z-index: 30;
	bottom: 15px;
	right: 15px;
	border-radius: 70px;
	padding: 1em;
	width: 600px;
	transition: 0.2s;
}
.notice.dis-none {
	transform: translate(0, 50px);
	opacity: 0;
	visibility: hidden;
}

/* Positions */

.pos-fix {
	position: fixed;
}
.pos-rel {
	position: relative;
}
.pos-abs {
	position: absolute;
}

/* Co-ordinates */

.bot-0 {
	bottom: 0;
}

/* Display Types */

.dis-block {
	display: block;
}
.dis-flex {
	display: flex;
}
.dis-flex.ver-icenter {
	align-items: center;
}
.dis-flex.ver-ccenter {
	align-content: center;
}
.dis-flex.hor-center {
	justify-content: center;
}
.dis-flex.hor-around {
	justify-content: space-around;
}
.dis-flex.hor-between {
	justify-content: space-between;
}
.dis-flex.hor-even {
	justify-content: space-evenly;
}
.dis-flex.fldir-row {
	flex-direction: row;
}
.dis-flex.fldir-rerow {
	flex-direction: row-reverse;
}
.dis-flex.fldir-column {
	flex-direction: column;
}
.dis-flex.fldir-recolumn {
	flex-direction: column-reverse;
}
.dis-flex.wrap {
	flex-wrap: wrap;
}

/* Margins */

.mar-center {
	margin-left: auto;
	margin-right: auto;
}
.mar-0 {
	margin: 0;
}

/* Paddings */

.pad-0 {
	padding: 0;
}

/* Width & Height */

.wid-full {
	width: 100%;
}
.hei-full {
	height: 100%;
}
.wid-50 {
	width: 50%;
}
.wid-40 {
	width: 40%;
}
.wh-45px {
	width: 45px;
	height: 45px;
}

/* Background */

.bg-norep {
	background-repeat: no-repeat;
}
.bg-stllprl {
	background-attachment: fixed;
}
.bg-pos-center {
	background-position: fixed;
}
.bg-siz-cover {
	background-size: cover;
}
.bg-primary {
	background-color: rgb(var(--primary));
}
.bg-secondary {
	background-color: rgb(var(--secondary));
}
.bg-dark-secondary {
	background-color: rgb(var(--dark-secondary));
}
.bg-light-gray {
	background-color: rgb(var(--light-gray));
}
.bg-light-red {
	background-color: rgb(var(--light-red));
}
.bg-pink {
	background-color: rgb(var(--pink));
}
.bg-white {
	background-color: #fff;
}
.bg-black {
	background-color: #000;
}
.bg-none {
	background: transparent;
}

/* Font Color */

.cl-white, #close:hover, table.class th {
	color: #fff;
}
.cl-primary, footer a, #copyButton, .clear a, .transparent a, .tb-con .trg {
	color: rgb(var(--primary));
}
.cl-secondary, article h1 {
	color: rgb(var(--secondary));
}.cl-dark-secondary {
	color: rgb(var(--dark-secondary));
}
.cl-gold, footer a:hover, #copyButton:hover, .clear a:hover, .transparent a:hover, .tb-con .trg:hover {
	color: rgb(var(--gold));
}

/* Miscellaneous */

.box-size-border, .column-left, .column-right {
	box-sizing: border-box
}
.border-bottom {
	border-bottom: 0.2rem solid;
}
.border-none {
	border: transparent;
}
.shadow {
	box-shadow: var(--shadow);
}
.shadow-filter {
	filter: drop-shadow(var(--shadow))
}
.circle {
	border-radius: 50%;
}
.semicircle {
	border-radius: 0 0 50% 50%;
}
.box-content {
	width: 1000px;
	margin-top: 0;
	padding: 0.75em 2em;
}
section.sub {
	width: 1200px;
	padding: 3.25em 2em;
}
.column-left {
	float: left;
}
.column-right {
	float: right;
}
.txt-center {
	text-align: center;
}
.txt-left, .txt-left.txt-center-mobile {
	text-align: left;
}
.txt-right, .txt-right.txt-center-mobile {
	text-align: right;
}
.txt-justify {
	text-align: justify;
}
a.kofi {
	margin-left: auto;
	transform: scale(1.1);
	transition: 0.2s;
}
a:active.kofi {
	transform: scale(1);
}
a.kofi.shadowfil {
	filter: drop-shadow(0 12px 4px rgba(var(--black), 0.4));
}
a:active.kofi.shadowfil {
	filter: drop-shadow(0 3px 2px rgba(var(--black), 0.35));
}

/* Cursors */

.pointer {
	cursor: pointer;
}

/* IDs */

#textToCopy {
	display: none;
}
#kofiframe {
	border-radius: 30px;
	border: 5px solid #fff;
}
#close {
	margin-top: 1em;
	padding: 1em;
	font-size: 16px;
	font-family: inherit;
	text-shadow: inherit;
	background: rgb(var(--light-gray));
	border: none;
	border-radius: 40px;
	transition: 0.2s;
	cursor: pointer;
}
#close:hover {
	background: rgb(var(--gray));
}
#bg-close {
	bottom: calc(5px - (1vw / -1.2));
	right: calc(5px - (1vw / -1.2));
	width: 30px;
	height: 30px;
	padding: 0.5em;
}
.projects .tooltip {
	border-radius: 10px 10px 0 10px;
	bottom: calc(35px + (1vw / 1.2));
	right: calc(60px + (1vw / 1.2));
	padding: 0.6em;
}

/* Intro */

.starter {
	padding: 1em;
	text-align: center;
	background: url("assets/bg/help.png");
	background-size: 900px;
	height: 700px;
	animation: starterScroll 60s linear infinite;
}

/* About */

.about-bg {
	background: url("assets/bg/landscape.jpg");
	background-size: calc(100vw * 1.2);
	z-index: -1;
	opacity: 0.6; 
}
.about-header {
	height: 27rem;
}
.tag {
	font-size: 16px;
	width: auto;
	height: auto;
	padding: 0.75em;
}

/* Projects */

.projects {
	background-size: 2000px;
	background-position-y: 700px;
	height: 400px;
}
.project-sels {
	position: relative;
	overflow: hidden;
	margin: 7px;
	border-radius: 30px;
	width: 384px;
	height: 216px;
}
.project-sels .desc {
	bottom: 0;
	padding: 1.5em 0;
	height: 100px;
	background-image: linear-gradient(transparent, rgba(var(--black), 0.9));
}
a .hov {
	visibility: hidden;
	position: absolute;
	transform: translate(50px, 0);
	right: -50px;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
}
a:hover .hov {
	visibility: visible;
	transform: translate(0);
	opacity: 0.6;
	transition: opacity 0.5s, transform 0.35s;
}
a:active .hov {
	opacity: 1;
}
a .hov.mdr, a .hov.pmc {
	position: absolute;
	width: 256px;
	height: 256px;
}
a .hov.mdr {
	background-image: url(assets/img/proj/mdr.svg);
}
a .hov.pmc {
	background-image: url(assets/img/proj/pmc.svg);
}
.tb-con .trg {
	padding: 1em;
	border-radius: 20px 20px 0 0;
	height: 20px;
	transition: 0.2s;
}
.tb-con .trg span::after {
	display: inline-block;
	content: "▲";
	margin-left: 0.2em;
	transition: transform 0.5s;
}
.tb-con .content {
	width: 300px;
	padding: 0 1em;
	border-radius: 20px 20px 0 0;
}
.tb-con {
	bottom: 0;
	left: 50%;
	margin-left: -167px;
	transform: translate(0, 118px);
	z-index: 10;
	transition: 0.35s;
}
.tb-con a {
	width: 90%;
	padding: 0.3em;
	margin: 0.0556em 0;
	border-radius: 10px;
}
.tb-con a:hover {
	transform: translate(0);
	background:rgba(var(--white), 0.2);
}
.tb-con.active, .tb-con.tou.active {
	transform: translate(0);
}
.tb-con.active .trg span::after {
	transform: rotate(180deg);
}

/* ToU */

.tb-con.tou {
	transform: translate(0, 308px);
}
table {
	width: 750px;
	transition: 0.4s;
}
table th {
	text-align: center !important;
	padding: 0 0.75em;
}
table.ref th:nth-child(1) {
	background: #f9cb9c;
}
table.ref th:nth-child(2) {
	background: #f6b26b;
}
table.class th {
	width: 50%;
}
table.class th:nth-child(1) {
	background: #45e638;
}
table.class th:nth-child(2) {
	background: red;
}
table tr:nth-child(odd) {
	background: rgba(var(--white), 0.4);
}
table tr:nth-child(even) {
	background: rgba(var(--white), 0.8);
}
table td {
	text-align: left !important;
	padding: 0 1em;
}
table td:nth-child(2) {
	background: rgba(var(--white), 0.2);
}

/* Animations */

@keyframes starterScroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 900px;
	}
}

/* Media */

@media screen and (max-width: 1590px) {
	.about-bg {
		background-size: 1908px;
	}
}
@media screen and (max-width: 1200px) {
	section.sub {
		width: 100%;
	}
	.dis-flex.fldir-row.recolumn-if-mobile, .dis-flex.fldir-rerow.recolumn-if-mobile {
		flex-direction: column-reverse;
	}
	.txt-right.txt-center-mobile, .txt-left.txt-center-mobile {
		text-align: center;
	}
	.kofi {
		margin-right: auto;
	}
}
@media screen and (max-width: 1000px) {
	.box-content, table {
		width: 100%;
	}
	.box-content {
		padding: 0.75em 1.5em;
	}
	table tr,  td {
		padding: 0 0.15em !important;
	}
}
@media screen and (max-width: 630px) {
	.notice {
		width: 100%;
		bottom: 0;
		right: 0;
		border-radius: 0;
	}
}
@media screen and (max-width: 530px) {
	nav .avatar.circle {
		width: 80px;
		height: 80px;
		border-radius: 0 50% 50% 0;
		left: 0;
		top: 0;
	}
	nav {
		width: 100%;
		border-radius: 0 0 30px 30px;
		top: 0;
		left: 0;
		margin-left: 0;
	}
	.sub-nav {
		right: -60px;
	}
}
@media screen and (max-width: 450px) {
	nav .avatar {
		visibility: hidden;
		transform: translate(-80px, 0);
	}
	nav {
		border-radius: 0;
	}
	.sub-nav {
		width: 100%;
		right: 0;
	}
}
@media screen and (max-width: 420px) {
	section.sub {
		padding: 3.5em 1em;
	}
	section.sub h1 {
		font-size: 52px;
	}
	section.sub p {
		font-size: 20px;;
	}
}
