.projects-list a {
	color: var(--inside-primary);
	text-decoration: none;
}
.projects-list section *:nth-child(3) a::before {
	font: var(--fa-font-solid);
	padding-right: 0.5ch;
	content: "\f019";
}
.projects-list section {
	min-height: 120px;
	grid-template-columns: 120px auto 180px;
	grid-gap: 1em;
	transition: background-color .75s, width .2s;
}
.projects-list section:hover {
	background: #FFFFFF15;
	transition: background-color .01s;
}
.projects-list section article:nth-child(2) {
	white-space: normal;
}
.projects-list section article:nth-child(3) a {
	padding: 2px 0;
}
.projects-list section:first-child {
	border-radius: 20px 20px 0 0;
}
.projects-list section:last-child {
	border-radius: 0 0 20px 20px;
}
@media screen and (max-width: 1250px) {
	.topic {
		width: 100%;
	}
}
@media screen and (max-width: 850px) {
	.projects-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
	}
	.projects-list section:hover {
		background: unset;
	}
	.projects-list section {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		text-align: center;
		padding-top: 1em;
		width: 50%;
	}
	.projects-list section:first-child,
	.projects-list section:last-child {
		border-radius: 0;
	}
	.projects-list section img {
		border-radius: 50%;
	}
}
@media screen and (max-width: 650px){
	.projects-list section {
		width: 100%;
	}
}